.counter-wrapper {
	display: flex;

    justify-content: space-evenly;
    
	border-radius: 8px;

	max-width: 90px;
	height: 30px;

	overflow: hidden;

	background: #f2ede7;
	font-size: 18px;
}

.counter{
    width: 30px;

    text-align: center;
}
.counter-btn{
    width: 30px;

	cursor: pointer;
	transition: 0.2s ease-in;
	
	text-align: center;
}
.counter-btn:hover {
    background: #eb5a1e;
    color: #FFF;
}