.navbar {
    min-width: fit-content;
    padding: 2em 1em;
    border-bottom: 1px solid black;
    background-color: #fff;
}

.navbar-row {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;

    column-gap: 30px;
}
.logo {
    font-size: 2em;
    font-family: 'Homemade Apple', cursive;
    color: black;

    margin-right: auto;
    
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    column-gap: 30px;
}

.navbar-icon {
    max-height: 55px;
    max-width: 55px;
    
}

.navbar-icon:first-child {
    position: relative;
}


.cart-items-count {
    position: absolute;

    content: attr(value);

    font-size: 1em;
    text-align: center;

    color: #fff;
    background: rgb(134, 26, 26);

    border-radius:50%;
    height: 1.5em;
    width: 1.5em;

    top: -4px;
    right: -2px;

}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        row-gap: 1em;
    }
}
