.footer {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 5px;
    margin-top: auto;
    background-color: #fff;
    bottom: 0;

}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 15px;
}

.socials-item {
    max-width: 50px;
    max-height: 50px;
}